{% trans_default_domain "FOSUserBundle" %}

{% form_theme form "bootstrap_3_layout.html.twig" %}

<form action="{{ path('fos_user_resetting_reset', { 'token': token }) }}" method="POST" class="form">
	{% trans %}resetting.reset.instructions{% endtrans %}
	{{ form_widget(form) }}
	<div class="form-group">
    	<input type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block"
            value="{%trans %}resetting.reset.submit{% endtrans %}" />
    </div>
	<div class="alt-link">
		<a href="{{ path('fos_user_security_login') }}">{% trans %}resetting.reset.cancel{% endtrans %}</a>
	</div>
</form>
